<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  {% block head %}


  <style>
   
    button {
      font-family: 'Fauna One', serif;
    }

    p,
    h6 {
      font-family: 'Fauna One', sans-serif;
    }

    h4,
    h5 {
      font-family: 'Fauna One', serif;
    }

    .htc__qua {
      background: #fff;
      border-radius: 100%;
      color: #000;
      font-size: 9px;
      height: 17px;
      line-height: 19px;
      position: absolute;
      right: 70px;
      text-align: center;
      top: 30px;
      width: 17px;
    }

    option {
      float: left;
      font-size: 15px;
    }

    aside {
      background: #fff;
      width: 350px;
      height: 100vh;
      position: fixed;
      right: 0px;
      transition: .3s;
      right: -350px;
      top: 0;
      transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
      z-index: 99999;
    }

    aside.close {
      right: 0;
      transition: .3s;
      transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
    }
  </style>
  {% endblock head %}


  <title>{% block title %}{% endblock %}</title>


  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fauna+One&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
  <style>
    .fa-trash-o {
      position: absolute;
      left: 180px;
      top: 0px;
    }

    .blockcol {
      background: #000;
    }

    .bagx {
      width: 15px;
    }

    .usesize {
      font-size: 16px;
    }

    .nameres{
      font-size: 80%!important;
    }
    .dropdown-menu {

      min-width: 4.5rem !important;
      position: absolute;
      top: 100%;
      right: 20% !important;

    }


    p,
    h6,
    .cartfont {
      font-family: 'Poppins', sans-serif;
    }

    h4,
    h5.button {
      font-family: 'Fauna One', serif;
    }

    .reportname {
      font-family: 'Poppins', sans-serif;
    }

    .htc__qua {
      background: #fff;
      border-radius: 100%;
      color: #000;
      font-size: 9px;
      height: 17px;
      line-height: 19px;
      position: absolute;
      right: 30px;
      text-align: center;
      top: 30px;
      width: 17px;
    }

    @media(max-width:547px) {
      .htc__qua {
        background: #fff;
        border-radius: 100%;
        color: #000;
        font-size: 9px;
        height: 17px;
        line-height: 19px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 15px;
        width: 17px;
      }
    }

    @media(min-width:340px) and (max-width:360px) {
      .htc__qua {
        background: #fff;
        border-radius: 100%;
        color: #000;
        font-size: 9px;
        height: 17px;
        line-height: 19px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 15px;
        width: 17px;
      }
    }

    @media(max-width:325px) {
      .htc__qua {
        background: #fff;
        border-radius: 100%;
        color: #000;
        font-size: 9px;
        height: 15px;
        line-height: 19px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 15px;
        width: 15px;
      }
    }


    @media(min-width:361px) and (max-width:420px) {
      .htc__qua {
        background: #fff;
        border-radius: 100%;
        color: #000;
        font-size: 9px;
        height: 17px;
        line-height: 19px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 15px;
        width: 17px;
      }
    }

    @media(max-width:320px) {
      .galaxy {

        font-family: Fauna one;
        font-size: 12px;

      }

      .bagx {
        width: 12px;

      }

    }

    @media(min-width:321px) and (max-width:360px) {
      .galaxy {
        font-family: Fauna one;
        font-size: 14px;



      }
    }

    .galaxy {
      font-family: Fauna one;




    }

    aside {
      background: #fff;
      width: 350px;
      height: 100vh;
      position: fixed;
      right: 0px;
      transition: .3s;
      right: -350px;
      top: 0;
      transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
      z-index: 99999;
    }

    aside.close {
      right: 0;
      transition: .3s;
      transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
    }

    .cut {
      aside {
        background: #fff;
        width: 350px;
        height: 100vh;
        position: fixed;
        right: 0px;
        transition: .3s;
        right: 0px;
        top: 0;
        transition-timing-function: cubic-bezier(0.9, 0, 1, 1);
        z-index: 99999;
      }


    }

    .buttonx:hover {


      color: red;
    }

    .small-logo {

      width: 8rem;
    }

    @media(max-width:547px) {
      .small-logo {

        width: 5rem;
      }

    }

    @media(min-width:547px) {
      .bagicon {
        margin-right: 20px;

      }

      .usersizeicon {
        width: 20px;
      }

      .usersizeiconx {
        font-size: 20px;
      }
    }


    .dropdown-left-manual {
      right: 0;
      left: auto;
      padding-left: 1px;
      padding-right: 1px;
    }

    .foot ul li a {
      font-family: 'Fauna One', serif;
      text-decoration: none;

    }
  </style>

</head>


<body>
  <nav class="navbar navbar-light blockcol ">
    {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
      {% comment %} {% if request.user.user_reports.all.exists %} {% endcomment %}
      <a class="navbar-brand"}"><img src="{% static 'images/logo.png'%}"
          class="img-fluid small-logo"></a>
      {% comment %} {% else %} {% endcomment %}
      <a class="navbar-brand"><img src="{% static 'images/logo.png'%}"
          class="img-fluid small-logo"></a>
      {% comment %} {% endif %} {% endcomment %}

    {% comment %} {% else %} {% endcomment %}
    <a class="navbar-brand"><img src="{% static 'images/logo.png'%}"
        class="img-fluid small-logo"></a>
      {% comment %} {% endif %} {% endcomment %}
    <div class="dropdown  ml-auto">
      <a class="nav-link dropdown-toggle text-light galaxy" type="button" data-toggle="dropdown" id="dropdownMenuButton"
        href="#"><i class="fas fa-user usersizeiconx"></i></span></a>


      <div class="dropdown-menu dropdown-left-manual  "
        style="min-width: 4.5rem !important;position: absolute;top: 100%;right: 20% !important;">
        {% comment %} {% if not request.user.is_authenticated %} {% endcomment %}
        <a class="dropdown-item" ><img src="{% static 'images/vector2.jpg' %}"> Login</a>
        {% comment %} {% else %} {% endcomment %}
        <a class="dropdown-item"><img src="{% static 'images/vector2.jpg' %}"> Log out</a>
        {% comment %} {% endif %} {% endcomment %}
      </div>
    </div>
    <div class=" d-flex justify-content-end ">
      {% comment %} {%if user.is_authenticated%} {% endcomment %}
      <a href="#" class="toggle  bagicon"><img class="bagx usersizeicon" src={% static 'images/bag.png' %}
          style="margin-top:-5px;margin-left:15px"> <span id="baseqtycart" class="htc__qua">0</span></a>
      {% comment %} {%endif%} {% endcomment %}
    </div>
  </nav>
  {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
  <div class="container">
    <aside style="background:#fff;opacity: 1;height:100vh; overflow:scroll" id="cutx">
      <section>
        <div class="p-3">
          <button type="button" onclick="myFunction()" class="buttonx" style="border:none; background:transparent;">
            &#x2715;</button>
          <span class="cartfont" style="float:right;font-size: 15px;"><i class="fa fa-shopping-cart "></i> &nbsp; Cart
            Item: <b id="cart_qty">0</b></span><br>
          <span class="cartfont" style="float:right;font-size: 15px;">Total: ₹<b id="total">0</b></span>
          </p>
        </div>
        <div class="text-center p-3">
          <button type="button" class="btn prodbg text-light PROCEED_TO_CHECKOUT"
            style="width: 100%; font-family:Fauna One;">PROCEED TO CHECKOUT</button>
        </div>
        <div class="card mb-3" style="max-width: 540px;" id="parentrow">
          <div class="row" id="row-1" style="display:none;">

            <div class="col-md-4 col-4">
              <img src="{% static 'images/image.png' %}" class="img-fluid rounded-start" alt="image">
            </div>
            <div class="col-md-8 col-8 ">
              <div class="card-body">
                <p style="font-size: 15px;" id="prodname">Product Name</p>
                <p style="font-size: 15px;"><span id="productprice">₹</span>100</p>
                <div class='row'>
                  <div class="col-md-6 col-6">
                    <form>
                      <div class="form-group">
                        <select style="font-size:15px;">
                          <option>Qty</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                          <option>10</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6 col-6 d-flex justify-content-end">
                    <a href="#" class="mt-1"><span id="product-del1" class="fa fa-trash-o"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="row-2" style="display:none;">

            <div class="col-md-4 col-4">
              <img src="{% static 'images/image.png' %}" class="img-fluid rounded-start" alt="image">
            </div>
            <div class="col-md-8 col-8 ">
              <div class="card-body">
                <p style="font-size: 15px;">Product Name</p>
                <p style="font-size: 15px;"><span id="productprice">₹</span>100</p>
                <form>
                  <div class="form-group">

                    <select style="float:left;font-size: 15px;">
                      <option selected>Qty</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </div>
                </form>
                <a href="#"><span id="product-del2" class="fa fa-trash-o"></a>
              </div>
            </div>
          </div>

        </div>
        <div class="parents"></div>
        <div class="text-center p-3">
          <button type="button" class="btn text-dark"
            style="width: 100%;background:#c4c4c4; font-family:Fauna One;">VIEW CART</button>
        </div>

      </section>

    </aside>
    {% comment %} {% endif %} {% endcomment %}
    <script>
      function myFunction() {
        document.getElementById("cutx").className = "cut";
      }
    </script>


  </div>


  {% block body %}
  {% endblock %}

  <div class="container-fluid mainfoot ">
    <div class="row pt-3">
      <div class="col-md-3  pl-2 foot">
        <ul class="p-0">
          <li><a href=""> About Us</a> </li>
          <li><a href=""> Career</a> </li>
          <li><a href=""> T&C</a></li>
          <li><a href=""> Legal Policy</a></li>
          <li><a href=""> Return Policy</a></li>
          <li><a href=""> Loyalty Program</a></li>
          <li><a href=""> Blog</a></li>
        </ul>
      </div>
      <div class="col-md-4   pl-2 foot">
        <ul class="p-0">
          <li><a href="#">Mumbai - Chembur</a></li>
          <li><a href="#">Jaipur - Mgf-Mall</a></li>
          <li><a href="#">Chennai - Annanagar</a></li>
          <li><a href="#">Mumbai - Infiniti-Malad</a></li>
        </ul>
      </div>
      <div class="col-md-5"></div>
    </div>

  </div>
  <div class="container-fluid btfoot">
    <div class="row">
      <div class="col-md-6 col-12  p-2">
        <p class="crp text-light ml-5 mt-3">© 2021 Kaya Skin Clinic. All rights reserved</p>
      </div>
      <div class="col-md-6 col-12  p-2">
        <ul class="social">
          <li><img src="{% static 'images/facebook.png' %}" class="img-fluid"></li>
          <li> <img src="{% static 'images/twitter.png' %}" class="img-fluid"></li>
        </ul>

      </div>
    </div>
  </div>
  <script>



    var data_ref = []
    $('body').click(function (e) {




      let data = JSON.parse(window.sessionStorage.getItem("uniquesProduct"));

      data_ref = data
      // read products from session storage
      data_ref.map(function (item) {
        delete item.name;
        delete item.price;
        delete item.id;
        delete Object.assign(item, { ['qty']: item['quantity'] })['quantity'];

        return item;
      });
    });

    $('.PROCEED_TO_CHECKOUT').on('click', function (e) {

      var csrftoken = "{{ csrf_token }}"
      e.preventDefault()


      {% comment %} $.ajax({
        url: "{% url '' %}",
        type: "POST",
        dataType: "json",
        headers: {
          "X-CSRFToken": csrftoken,
        },
        beforeSend: function () {
          console.log(data_ref)
        },
        data: {
          'products': JSON.stringify(data_ref)
        },

        success: function (response) {
          console.log(response)
        }
      }) {% endcomment %}

    });


    // ADD To Cart


    var products = []
    $(function () {
      showitemsOnCart();
      showListData();
    });
    $(function () {
      let uniquesProduct = JSON.parse(window.sessionStorage.getItem('uniquesProduct'));
      if (uniquesProduct == null) {
        uniquesProduct = [];
      }
      $('.addtocart').on('click', function () {

        let uniquesProduct = JSON.parse(window.sessionStorage.getItem('uniquesProduct'));
        if (uniquesProduct == null) {
          uniquesProduct = [];
        }
        $(this).html("Adding..");
        $(this).css("background-color", "#db926b");
        let ref = this;
        setTimeout(function () {
          $(ref).html("Added..");
        }(), 500);
        setInterval(function () {
          $(ref).html("Add to cart");
          $(ref).css("background-color", "black");

        }, 1000);




        //document.getElementById(id).style.opacity = '0.5'
        var sku = $(this).attr("data-sku");
        var image = $(this).attr("data-img");
        var id = $(this).attr('data-id');
        var price = $(this).attr('data-price');
        var product = $(this).attr('data-product');

        let index = uniquesProduct.findIndex(x => x.id === id);
        if (index != -1) {
          uniquesProduct[index].quantity += 1

        }
        else {
          let obj = {
            'sku': sku,
            'id': id,
            'name': product,
            'price': price,
            'quantity': 1,
            'image': image
          }

          uniquesProduct.push(obj)



        }








        window.sessionStorage.setItem("products", JSON.stringify(products));
        window.sessionStorage.setItem("uniquesProduct", JSON.stringify(uniquesProduct));

        console.log(window.sessionStorage.getItem('products'))
        console.log(window.sessionStorage.getItem('uniquesProduct'))


        showitemsOnCart()


      });

    });

    function showitemsOnCart() {

      let data = JSON.parse(window.sessionStorage.getItem('uniquesProduct'));

      var TotalPrice = 0;
      var items = 0;

      for (var i = 0; i < data.length; i++) {
        var price = parseInt(data[i].price)
        var quantity = parseInt(data[i].quantity)
        TotalPrice = price * quantity + TotalPrice;
        items += quantity;
      }
      document.getElementById('baseqtycart').innerHTML = items;
      document.getElementById('cart_qty').innerHTML = items

      document.getElementById('total').innerHTML = TotalPrice;

      showListData()

    }
    function showListData() {

      let listdata = JSON.parse(window.sessionStorage.getItem('uniquesProduct'));

      $('.parents').html('')
      if (listdata.length > 0) {
        for (var i = 0; i < listdata.length; i++) {

          var msg = "<div class=\"row\" id=\"row1\">" +
            "<div class=\"col-md-4 col-4\">" +
            "<img src=" + listdata[i].image + " class=\"rounded-start img-fluid m-3\">" +
            "</div>" +
            "<div class=\"col-md-8 col-8\">" +
            "<div class=\"card-body\" >" +
            "<p style=\"font-size:15px;font-weight:normal\" id=\"Active Charcoal Anti-Pollution Face Wash\">" + listdata[i].name + "</p>" +
            "<p style=\"font-size:15px;font-weight:normal;\"><span>₹</span>" + listdata[i].price + "</p>" +
            "<div class=\"row\">" +
            "<div class=\"col-md-6 col-6\"><form>" +
            "<div class=\"form-group\">" +
            "<select id=\"myselect1\" style=\"font-size:15px\" ><option disabled=\"disabled\">Qty</option>" +
            "<span class=\"glyphicon glyphicon-trash\"></span>";

          var msg2 = ""
          for (var j = 1; j < 6; j++) {
            if (j == listdata[i].quantity) {
              msg2 = msg2 + "<option selected=\"selected\" value=" + j + " data-id=" + listdata[i].id + ">" + j + "</option>";

            }
            else {
              msg2 = msg2 + "<option  value=" + j + " data-id=" + listdata[i].id + ">" + j + "</option>";

            }

          }
          msg = msg + msg2 + "</select>" +
            `<a href="#" class="deleteItemInCart" data-id="${listdata[i].id}" onclick=deleteItemInCart(this)><span id="product-del2" class="fa fa-trash-o  " style="float:right;color:red;display:flex;margin-top:4px!important;" ></a>`
          $('.parents').append(msg);
        }
      }
    }
    function deleteItemInCart(ref) {
      var productId = $(ref).attr('data-id');
      console.log('productId', productId);
      var uniquesProduct = JSON.parse(window.sessionStorage.getItem('uniquesProduct'));
      let index = uniquesProduct.findIndex(x => x.id === productId);
      if (index != -1) {
        var data = uniquesProduct
        data.splice(index, 1);
        console.log(window.sessionStorage.setItem('uniquesProduct', JSON.stringify(data)));
        showitemsOnCart()
      }
    }

    $(document.body).on('change', '#myselect1', function () {

      calleverytime(this);

    });

    function calleverytime(contacts) {

      var quantity = contacts.value
      var id = $(contacts).find(':selected').attr('data-id')
      var uniquesProduct = JSON.parse(window.sessionStorage.getItem('uniquesProduct'));

      let index = uniquesProduct.findIndex(x => x.id === id);

      if (index != -1) {

        uniquesProduct[index].quantity = quantity

        console.log(window.sessionStorage.setItem('uniquesProduct', JSON.stringify(uniquesProduct)));
      }
      showitemsOnCart()
    }
    // get selected dropdown along with id
    $(function () {
      console.log(uniquesProduct)
      calleverytime(this);
      $('select').on('change', function () {
        calleverytime(this);

      })
    })


  </script>
  {% comment %} {% include "kayaapp/scripts.html" %} {% endcomment %}
