{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'js/webcam.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/tfjs.js' %}" type="text/javascript"></script>
<script src="{% static 'js/blazemodel.js' %}" type="text/javascript"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"
    integrity="sha512-dQIiHSl2hr3NWKKLycPndtpbh5iaHLo6MwrXm7F0FM5e+kL2U16oE9uIwPHUl6fQBeCthiEuV/rzP3MiAB8Vfw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/blazeface"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--Only for demo purpose - no need to add.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<style>
    .intro2 {
        font-family: Fauna One;
    }

    p,
    h6 {
        font-family: 'Poppins', sans-serif;
    }

    h4,
    h5 {
        font-family: 'Fauna One', serif;
    }

    #video,
    #canvas,
    #canvas2 {
        border-radius: 30px;
        max-width: 500px;
        max-width: 100%;
        height: 388px;
        border: 2px solid #c4c4c4;
        margin-left: 1rem;
        border-radius: 50px;
        background: linear-gradient(145deg, #d4caca, #fbf0f0);
        box-shadow: 20px 20px 60px #c8bebe,
            -20px -20px 60px #ffffff;
    }

    @media(max-width:576px) {

        #video,
        #canvas,
        #canvas2 {
            border-radius: 30px;
            max-width: 375px;
            width: 100%;
            height: 300px;
            border: 2px solid #c4c4c4;
            margin-left: 0rem;
            border-radius: 50px;
            background: linear-gradient(145deg, #d4caca, #fbf0f0);
            box-shadow: 20px 20px 60px #c8bebe,
                -20px -20px 60px #ffffff;
        }

        .camerax {
            margin-top: -15px;
        }
    }

    .btnreload {
        position: absolute;
        left: 40%;

    }

    @media(max-width:547px) {
        .btnreload {
            position: absolute;
            left: 24%;

        }
    }

    @media(min-width:548px) and (max-width:786px) {
        .btnreload {
            position: absolute;
            left: 35%;

        }
    }

    @media(min-width:786px) and (max-width:1380px) {
        .btnreload {
            position: absolute;
            left: 42%;

        }
    }

    @media(min-width:1400px) and (max-width:1550px) {
        .btnreload {
            position: absolute;
            left: 43%;

        }
    }

    @media(min-width:1600px) {
        .btnreload {
            position: absolute;
            left: 45%;

        }
    }

    #loaderimage {
        animation: rotation 3s infinite linear;
    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .instruction {
        background: #A37A78;
        height: 5rem;
        border-radius: 10px;
        ;

    }

    .instruction h6 {
        font-family: Fauna One;

    }

    @media(max-width:576px) {
        .loadimg {
            height: 80px;
            position: absolute;
            width: 80px;
            margin-left: -35px;
            margin-top: -243px
        }
    }

    @media(min-width:768px) and (max-width:992px) {
        .loadimg {
            height: 80px;
            position: absolute;
            width: 80px;
            margin-left: -35px;
            margin-top: -300px
        }

        .instruction h6 {
            font-family: Fauna One;
            font-size: 12px;

        }

        .instruction {
            background: #A37A78;
            height: 4rem !important;
            border-radius: 10px;
            padding-top: 4px;

        }
    }

    @media(min-width:992px)and (max-width:1200px) {
        .loadimg {
            height: 80px;
            position: absolute;
            width: 80px;
            margin-left: -35px;
            margin-top: -300px
        }

        .instruction h6 {
            font-family: Fauna One;
            font-size: 14px;

        }

        .instruction {
            background: #A37A78;
            height: 4rem !important;
            border-radius: 10px;
            padding: 4px;

        }
    }

    @media(min-width:1201px) {
        .loadimg {
            height: 80px;
            position: absolute;
            width: 80px;
            margin-left: -35px;
            margin-top: -300px
        }

    }
</style>



{% endblock head %}
{% block title %}Image Upload{% endblock %}
{% block body %}


<div class="container-fluid" style="background-image: url({% static 'images/scanning.png' %});background-size:cover;">
    <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8 text-center">
            <div class=" pt-2 pb-2">
                <h6 style="font-weight: 700; color:black;">Scan Your Face</h6>
            </div>
            <form id="file-upload-form" enctype="multipart/form-data" method="POST" class="uploader">
                {% csrf_token %}

                <div class="my_canvas">

                    <video id="video" autoplay style="display: none;"></video>
                    <canvas id="canvas" width="443px" height="388px"></canvas>
                    <canvas class="canvas2" id="canvas2" width="443px" height="388px"></canvas>
                    <img id="demoimage" style="height:50px;" src="{% static 'images/skin scan1.png' %}">
                    <div><img id="loaderimage" class="loadimg" src="{% static 'images/refreshload1.png' %}"></div>

                </div>
                <div id="results"></div>

            </form>
        </div>

        <div class="col-12 col-md-2">

        </div>



    </div>
    <div class="container pb-1">
        <div class="row ">
            <div class="col-12 camerax col-md-12 text-center ">
                <button id="click" style="pointer;display:none; margin-right:30px;margin-top: 30px;width:120px;"
                    class=" prodbg-two text-light" value="Take Snapshot"> <i class="fa fa-camera" aria-hidden="true">
                        &nbsp;</i>Capture</button>

                <button id="delete" style="cursor:pointer;opacity:0;" style="opacity:1"
                    class="prodbg-two text-light btnreload"></button>
                <a href=""><button id="submit" style="cursor:pointer;" style="opacity:1;"
                        class=" prodbg-two text-light">Next <i class="fas fa-chevron-right"
                            style="font-size: 12px; margin-left: 15px;"></i></button></a>

            </div>



        </div>
    </div>

    <div class="container-fluid d-none d-md-block ">
        <div class="row p-3">
            <div class="col-12 col-md-3 text-center">
                <div class=" instruction  p-xl-3 pt-xl-4">
                    <h6 class="text-light">Pull hair back and remove anything that hides your skin.</h6>
                </div>

            </div>
            <div class="col-12 col-md-3 text-center">
                <div class=" instruction p-xl-3 pt-xl-4">
                    <h6 class="text-light">Try to use the same well-lit area for every scan.</h6>
                </div>
            </div>

            <div class="col-12 col-md-3 text-center">
                <div class=" instruction  p-xl-3 pt-xl-4">
                    <h6 class="text-light">Relax your face. No smiling!</h6>
                </div>
            </div>

            <div class="col-12 col-md-3 text-center">
                <div class=" instruction  p-xl-3 pt-xl-4">
                    <h6 class="text-light">Clean your face thoroughly, and don't apply any products.</h6>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="myModal" style="margin-top:-450px;" class="d-md-none">
    <div class="modal-dialog ">
        <div class="modal-content backbg3">
            <div class="modal-header backbg3">
                <h5 class="modal-title intro2 ">Instructions</h5>
                <button type="button" class="close" onclick="closepop()" id="crosspop"
                    data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body backbg3" style="height:410px !important ;">
                <h5 class="intro2">1. Pull hair back and remove anything that hides your skin.</h5><br>
                <h5 class="intro2">2. Try to use the same well-lit area for every scan.</h5><br>
                <h5 class="intro2">3. Relax your face. No smiling!</h5><br>
                <h5 class="intro2">4. Clean your face thoroughly, and don't apply any products.</h5><br>

            </div>
            <div class="text-center mt-2 p-1">
                <button class="btn prodbg-two text-light intro2 " onclick="closepop()">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    function closepop() {
        document.getElementById("myModal").style.display = 'none'
    };

    function movebtn() {

    }



    $(document).ready(function () {
        $("#submit").prop("disabled", true);
    })

    $(document).ready(function () {
        $("#delete").prop("disabled", true);
    })

    $("#delete").click(function (event) {
        event.preventDefault()
    })

    $(document).ready(function () {
        // $("#delete").prop("disabled",false); 

        data = {}
        $("#submit").click(function (event) {
            event.preventDefault()
            let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            data["csrfmiddlewaretoken"] = csrfToken
            data["image"] = canvas2.toDataURL();
            {% comment %} $.ajax({
                url: "{% url 'opencamera' %}",
                method: "POST",
                data: data,
                dataType: "json",
                success: function (data) {
                    $(location).attr('href', data['url'])
                    console.log(data)
                }
            }); {% endcomment %}

        });
    });

</script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="{% static 'js/blaze_pred.js' %}"></script>
<script type="text/javascript">
    $(window).load(function () { // makes sure the whole site is loaded
        // $('#status').fadeOut(6000); // will first fade out the loading animation
        // $('#preloader').delay(100).fadeOut(6000); // will fade out the white DIV that covers the website.
        // $('body').delay(100).css({'overflow':'visible'});

    })
</script>





<!--js files-------------->

<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".toggle").click(function () {
            $("aside").toggleClass("close")
        });
    });

    // click outside
    $(document).mouseup(function (e) {
        var container = $("aside");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            $("aside").removeClass("close")
        }
    });

</script>

{% endblock %}
